VITE_SUPABASE_URL=https://jgempeynxznmfwnwxmnp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpnZW1wZXlueHpubWZ3bnd4bW5wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NzkwNTYsImV4cCI6MjA5MTA1NTA1Nn0.gYR6xyvZvdqwik0hFy9Ecw_s34aZzzJXt8wmhiY37ao
GOOGLE_PRIVATE_KEY=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SHEET_ID=
